.cascadesContainer{
  .webPlayer{
    .topPanel{
      .center{
        .contentTitlePanel{
          margin-top: 10px;
          .title{
            font-weight: bold;
            font-size: 20px;
          }
          .subtitle{
            font-size: 18px; 
          }
        }
      }
      .right{
        .topButtons{
          position: fixed;
          top: -25px;
          right: 0;
        }
      }
    }
    .overlaysContainer{
      .hideUntilCssLoaded{
        .xrayQuickView{
          position: fixed;
          top: 10px;
          left: 20px;
          .collapsibleXrayHeader{
            .xrayHeaderTitle{
              font-size: 18px;
            }
          }
          .widgetGroupView{
            .collapsibleXrayHeader{
              margin-top: 0;
            }
          }
        }
      }
      .gradientOverlay{
        background: none;
      }
      .bottomPanel{
        .infoBar{
          padding-left: 200px;
        } 
      }
      .pausedOverlay{
        .buttons{
          position: fixed;
          bottom: 23px;
          left: 52px;
          z-index: 1;
          .fastSeekBack, .pausedIcon, .playIcon, .fastSeekForward{
            width: 20px;
            height: 20px;
            margin: 0 5px;
            .svgBackground{
              max-width: none;
              width: 45px;
              height: 45px;
              top: -12px;
              left: -5px;
            }
          }
        }
      }
    }
  }
}
.atvwebplayersdk-overlays-container {
  >div:first-child{ // overlay
    background:none;
  }
  >div:nth-child(4){ 
    >div:first-child{ // header
      >div:first-child{ // header title
        margin-top: 10px;
        h1{ // title
          font-weight: bold;
          font-size: 20px;
        }
        h2{ // subtitle
          font-size: 18px;
        }
      }
    }
    >div:nth-child(2){ // player controls
      position: fixed;
      bottom: 49px;
      left: 10px;
      z-index: 1;
      .atvwebplayersdk-fastseekback-button,
      .atvwebplayersdk-playpause-button,
      .atvwebplayersdk-fastseekforward-button{
        border: 10px;
        width: 35px;
        height: 35px;
        margin: 0 13px;
        +div{
          >div:first-child{
            >div:first-child{ // number 10
              position: absolute;
              top: 1px;
              left: 12px;
              font-size: 12px;
              line-height: 35px;
              width: 35px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  >div:nth-child(5){ // top controls
    >div:first-child{
      >div:nth-child(2){ 
        >div:nth-child(1){ // left controls
          position: fixed;
          top: -45px;
          left: 10px;
          .xrayHeaderTitle{
            font-size: 14px;
          }
          .xrayHeaderViewAll{
            font-size: 12px;
          }
        }
        >div:nth-child(2){ // right controls
          position: fixed;
          top: -25px;
          right: 10px;
        }
      }
    }
  }
  .atvwebplayersdk-bottompanel-container{
    padding-left: 200px;
  }
}
.atvwebplayersdk-player-container{
  .hideUntilCssLoaded{
    .xrayQuickView{
      .xrayQuickViewList{
        &.show{
          position: fixed;
          top: 0;
          height: 60px;
          overflow-y: auto;
          opacity: 0;
          transition: opacity 0.1s linear, top 0.2s ease, bottom 0.2s ease;
        }
      }
      &:hover{
        .xrayQuickViewList{
          &.show{
            top: 35px;
            height: auto;
            bottom: 108px;
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }
  >div:first-child{
    >div:first-child{
      >div:first-child{
        >div:first-child{ // overlay
          background: none !important;
          >div{
            background: none !important;
          }
        }
        >div:nth-child(3){
          >div:nth-child(2){ // player controls
            position: fixed;
            bottom: 14px;
            left: 5px;
            z-index: 1;
            margin: 0;
            padding: 0;
            .atvwebplayersdk-fastseekback-button,
            .atvwebplayersdk-playpause-button,
            .atvwebplayersdk-fastseekforward-button{
              width: 35px;
              height: 35px;
              margin: 0 3px;
              border-width: 10px;
            }
          }  
        }
      } 
    }
  }
  .atvwebplayersdk-title-text{
    font-size: 24px;
  }
  .atvwebplayersdk-subtitle-text{
    font-size: 21px;
  }
  .atvwebplayersdk-bottompanel-container{
    padding-left: 200px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    .atvwebplayersdk-seekbar-container{
      .atvwebplayersdk-trickplay-container{
        margin-bottom: 41px;
      }
      >div:first-child{
        >div:nth-child(2){
          padding-top: 10px;
          padding-bottom: 10px;
          height: 3px;
        } 
      }
    }
    .atvwebplayersdk-seekbar-range{
      height: 3px;
    }
    .atvwebplayersdk-infobar-container{
      font-size: 15px;
      >div:first-child{
        font-size: 15px;
        >div:first-child{
          height: 18px;
          .atvwebplayersdk-timeindicator-text{
            font-size: 16px;
          }
        }
        .atvwebplayersdk-nexttitle-button{
          font-size: 16px;
          height: 18px;
          div{
            font-size: 16px;
          }
          @media(max-width: 748px){
            display: none;
          }
        }
      }
    }
  }
}